<h1>Single Location</h1>

<%= render 'form', location: @location %>

<div class="well">
  <h3>Import new locations</h3>
  <h4>Notes before importing</h4>
  <ul>

  </ul>
</div>

<%= link_to 'Back', locations_path %>
